
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Anime69</title>
	<!-- Bootstrap core CSS -->
	<link href="~/startbootstrap-modern-business-gh-pages/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<!-- Custom styles for this template -->
	
	<link href="~/CSS/xemphimcss.css" rel="stylesheet" />
	<link href="~/startbootstrap-modern-business-gh-pages/css/modern-business.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

</head>
<body>
	<div id="fb-root"></div>
	<script>
(function (d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.1';
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
	<div id="fb-root"></div>
	<script>
		(function (d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;	
			js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.1';
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
	<!-- Navigation -->
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="@Url.Action("TrangChu","Home")">Anime69.com</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<div class="trangchux"><a class="nav-link" style="color:white" href="@Url.Action("TrangChu","Home")">Trang chủ</a></div>
					</li>
					<li class="nav-item dropdown">
						<div class="genres">
							<a class="nav-link dropdown-toggle" style="color:white" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Thể loại
							</a>


							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
								@Html.Action("ChuDePartial", "ChuDe")
							</div>
						</div>
					</li>



					@{ if (ViewBag.TaiKhoan == null)
		{




				<li><div id="buttonDN"><button onclick="location.href='@Url.Action("DangNhap", "User")'" type="button" class="btnDN">Đăng Nhập</button></div></li>
				<li><div id="buttonDN"><button onclick="location.href='@Url.Action("DangKy", "User")'" type="button" class="btnDK">Đăng Ký</button></div> </li>
}
else
{

				<li><div class="offset-lg-11" id="avatar"><i class="fas fa-user" style="color:white"></i></div></li>

				<li><div style="color:white" class="tentaikhoan2 offset-4" id="username">@ViewBag.TaiKhoan</div></li>
				<li><div id="buttonDX"><button onclick="location.href='@Url.Action("DangXuat", "User")'" type="button" class="btnDX ">Đăng xuất</button></div></li>
} }
				</ul>
				<div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="true" data-auto-logout-link="true" data-use-continue-as="true"></div>
			</div>
		</div>
	</nav>



	@RenderBody()
	<div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="1"></div>
	<script src="~/startbootstrap-modern-business-gh-pages/vendor/jquery/jquery.min.js"></script>

	<script src="~/startbootstrap-modern-business-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
